<div id="divLogo">
  <a href="http://www.pinkfloyd.com">
    <%= image_tag('logo.png', :alt => 'DarkSide') %>
  </a>
</div>
<ul id="ulNav">
	 <li><%= link_to_unless_current "Home",public_path %></li>
   <li><%= link_to_unless_current "Html" %></li>
   <li><%= link_to_unless_current "Xpath" %></li>
   <li><%= link_to_unless_current "Automation" %></li>
  
</ul>

<div id="line"></div>
