<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Qa Community</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">      
        <li class="<%= controller.controller_name.eql?('public') ? 'active' : '' %>"><%= link_to "Home", public_path%></li>
   		<li class="<%= controller.controller_name.eql?('html') ? 'active' : '' %>"><%= link_to "Html", html_path%></li>
  		<li><%= link_to "Xpath" , public_path%></li>
   		<li><%= link_to "Automation", public_path %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
