<!DOCTYPE html>
<html>
<head>
  <title>QaCommunityEnv</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag('application') %>

 	<meta name="author" content="TW QAs">    
</head>
<body style="">

    <%= render(:partial => "layouts/header_menu") %>

    <div id = "wrap" class="container margin-top-spacing">
        <%= yield %>
    </div><!-- /.container -->

    <hr>
    <%= render(:partial => "layouts/footer") %>
</body>
</html>